.centerTextBox {
    text-align: center;
    margin: auto;
}

.centerText {
    text-align: center;
}

.fullHeight{
    height: 100%;
    overflow: scroll;
}

.homeImage {
    max-height: 300px;
    max-width: fit-content;
    align-self: center;
    border-radius: 10px;
}

.homeMainBox {
    width: 100%;
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    background-color: lightgray;
    overflow-x: hidden;
}

.fullHeight {
    padding: 0;
}

.post{
    border: 1px solid black;
}

#postDate {
    font-size: 1rem;
}
#postContent {
    font-size: 1rem;
}
#postName {
    font-size: 1rem;
}

#gallery{
    height: 40%;
}

#feed {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feedPosts{
    overflow: scroll;
    height: 100%;
    width: 65%;
}

#feedHeader {
    display: inline-flex;
}

#newPostButton {
    width: 10rem;
    margin: 2px;
}

#homeMiddle{
    width: 40%;
    padding-top: 1rem;
    align-content: center;
}

#sandBaggerSideBar{
    width:95%;
}

#highlightSideBar{
    width: 30%;
    align-items: center;
}

#sandCard {
    background-color: lightgray;
}

.media {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
}

.trackFlyover {
    justify-self: center;
    margin: 0 auto;
}

.header {
    text-align: center;
    width: 100%;
    margin: 0;
}

.podcasts {
    flex-flow: column;
}

.videoScroll{
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.podcast {
    padding: 10px;
}

.mainHeader {
    text-decoration: underline;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#pointsHeader, .points h4, p{
    text-align: center;
}

#highlight-podcast-box{
	margin: 0 auto;
	width: fit-content;
}

.sidebar-tabs{
	justify-content: space-evenly;
}

@media only screen and (max-width: 600px){
    .homeComponent {
        margin: 2rem 0;
    }
    .homeMainBox {
        flex-flow: column;
    }
    #sandBaggerSideBar {
        width: 100%;
        order: 3;
    }
    #highlightSideBar {
        width: 100%;
        order: 2;
    }
    #homeMiddle {
        order: 1;
        width: 100%;
    }
}
